<div class="text-center">
<h1>TO DO:</h1>
<ul>
<% @tasks.each do |task| %>
  <li>

    <%= task.id %>.
    <%= task.name %>
    <% if task.done %>
      <i class="fa fa-check"></i>
    <% else %>
      <i class="fa fa-times"></i>
    <% end %>
    <%= link_to "Detail", task_path(task)%>
  </li>
<% end %>
</ul>


<%= link_to "Add a new task", new_task_path%>

</div>
