<h1>TO DO:</h1>
<ul>
<% @tasks.each do |task| %>
  <li>
    <%= task.id %>.
    <%= task.name %>
    <% if task.done %>
      <i class="fa fa-check"></i>
    <% else %>
      <i class="fa fa-times"></i>
    <% end %>

  </li>
<% end %>
</ul>
